<ion-header>
    <ion-navbar>
        <ion-title>create person</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="add-person">
    <form [formGroup]="form" (submit)="submit()">

        <ion-list>

            <ion-item>
                <ion-label stacked>Name</ion-label>
                <ion-input type="text" name="Name" formControlName="Name"></ion-input>
            </ion-item>
            <p class="error-label" *ngIf="Name.hasError('required') && (Name.touched)">
                the Name is required
            </p>

            <ion-item>
                <ion-label stacked>Phone</ion-label>
                <ion-input type="Phone" name="Phone" formControlName="Phone"></ion-input>
            </ion-item>
            <p class="error-label" *ngIf="Phone.hasError('required') && (Phone.touched)">
                the Phone is required
            </p>

        </ion-list>
        


        <button primary type="submit">add</button>
        <button danger light (click)="cancel()">cancel</button>


    </form>


</ion-content>
